@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main {
    display: inline;
}

.container {
    position: relative;

}

.BackgroundPicture {
    position: absolute;
    width: 40vw;
    height: 100vh;
}

.OdinLogo {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 10.5vw;
    top: 20vh;
}

.text {
    position: absolute; 
    color: white;
    top: 23.5vh;
    left: 19vw;
    font-family: 'norsebold', sans-serif;
    font-size: 165px;
      
}

.LogoBackground {
    position: absolute;
    width: 40vw;
    height: 30vh;
    top: 15vh;
    background: black;
    opacity: 0.4;
}

.secondSection {
    border: 0.1px solid white;
    position: relative;
    width: 60vw;
    height: 100vh;
    left: 40vw;
    display: inline;
}

.FirstText {
    margin-left: 60px;
    margin-top: 72px;
    font-weight: bold;
    line-height: 45px;
    max-width: fit-content;
}

.FirstText1 {
    margin-left: 60px;
    font-weight: bold;
    margin-top: 36px;
    max-width: fit-content;
}

.SecondText {
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: bold;
    max-width: fit-content;
}

.maintwo {
    display: flex;
    max-width: fit-content;
}

.leftSide {
    width: 25vw;
    height: 30vh;
    margin-left: 60px;
}

.rightSide {
    width: 25vw; 
    height: 30vh;
}

label {
    font-size: 27px;
    display: block;
    margin-top: 30px;
    color: rgb(75, 77, 75);
    margin-bottom: 5px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 19vw;
    padding: 14px 14px

}

input:invalid {
    border: 0.8px solid red
}

input:focus{ 
    outline: none;
    border: 1px solid blue;
    box-shadow: 0.1px 0.1px ;
}

.line {
    margin-top: 30px;
    max-width: 60vw;
    border: 0.5px solid #E5E7EB;
    box-shadow: 1px 1px 2px 1px #E5E7EB;
}

button{ 
    font-size: 35px;
    margin-top: 50px;
    margin-left: 60px;
    padding: 15px 60px;
    background-color: #596D48;
    border: 1px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.final{
    display: flex;
    margin-top: 35px;
    margin-left: 60px;
}

p{
    font-size: 33px;
}

.final2{
    margin-left: 3px;
    color: #596D48;
    font-weight: bold;
}